[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
rich = "*"
biopython = "*"
gitpython = "*"
argparse = "*"
dparse = "*"
numpy = "*"
matplotlib = "*"
fuzzywuzzy = {extras = ["speedup"], version = "*"}
datasette = "*"
csvs-to-sqlite = "*"
pandas = "==1.4.0"
levenshtein = "*"
matplotlib-venn = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
